<% result=(typeof result !==typeof undefined)? result : {};%>
<div class="container-fluid" id="main-container">
  <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header">
                  <h2>
                      <%= __('admin.system.edit'); %>
                  </h2>
                  <ul class="header-dropdown m-r--5 btn-right-top-margin">
                      <li>
                          <a href="<%=admin_list_url%>">
                              <button type="button" class="btn bg-indigo waves-effect">
                                  <i class="material-icons font-14">keyboard_backspace</i>
                                  <%= __("admin.system.back"); %>
                              </button>
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="body">
                  <form id="edit-testimonial" data-submit-btn-id="testimonial-edit-btn-id" method="post" class="on_click_submit"
                      role="form">
                      <% oldImage=(result.image) ? result.image :"";
                      image=(result.full_image_path) ? result.full_image_path :""; %>
                      <div class="col-sm-12 align-center">
                        <div class="form-group add-image">
                            <input name="old_image" id="old_image" type="hidden" class="form-control"
                                value="<%=oldImage %>" />
                            <input name="profile_image" id="profile_image"
                                class="form-control image-input-file" type="file" />
                            <span class="help-inline required profile_image" id="ContentTypeNameSpan">
                                <div id="pImage">
                                    <img src="<%=image%>?dim=120x120&type=resize" alt="Profile image"
                                        class="profileImage" />
                                </div>
                            </span>
                            <div class="m-t-10">
                                <a href="javascript:void(0)" data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="<%= __('admin.system.allowed_file_extension')%><%= ALLOWED_IMAGE_EXTENSIONS%>"
                                    class="btn bg-teal btn-block btn-sm waves-effect changePhoto">
                                    <%= __("admin.user.upload_image"); %>
                                </a>
                            </div>
                            <span id="profile_image_error" class="error"></span>
                        </div>
                    </div>
                      <div class="row clearfix">
                          <div class="col-sm-12">
                              <div class="form-group">
                                  <div class="form-line">
                                      <label for="full_name" class="control-label">
                                          <%= __('admin.testimonal.name'); %> <span class="required"> *</span>
                                      </label>
                                      <input name="name" id="name" type="text" class="form-control" value="<%= (result.name) ? result.name : ''%>"/>
                                  </div>
                                  <span id="name_error" class="error"></span>
                              </div>
                          </div>
                      </div>
                      <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <label for="rating" class="control-label">
                                        <%= __('admin.testimonal.rating'); %> <span class="required"> *</span>
                                    </label>
                                    <div class="star-rating" id="star"></div>
                                    <input name="rating" id="rating" type="hidden" class="form-control" value="<%= (result.rating) ? result.rating : ''%>"/>
                                </div>
                                <span id="rating_error" class="error"></span>
                            </div>
                        </div>
                    </div>
                      <div class="row clearfix">
                        <div class="col-sm-12">
                          <div class="form-group">
                            <div class="form-line">
                              <label for="days" class="control-label">
                                <%= __("admin.testimonal.message"); %><span class="required"> * </span>
                              </label>
                              <textarea rows="4"  id="message" class="form-control no-resize "  name="message"><%= (result.message) ? result.message : ''%></textarea>
                            </div>
                            <span id="message_error" class="error"></span>
                          </div>
                        </div>
                      </div>
                      <button type="button" id="testimonial-edit-btn-id" <%- ADMIN_LOADING_TEXT %> class="btn bg-green btn-sm
                          waves-effect btn-submit"><i class="material-icons font-14">save</i>
                          <%= __('admin.system.submit'); %>
                      </button>
                      <a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button"
                              class="btn bg-blue-grey btn-sm waves-effect"><i
                                  class="material-icons font-14">refresh</i>
                              <%= __("admin.system.reset"); %>
                          </button></a>
                      <a href="<%= admin_list_url %>"><button type="button"
                              class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i>
                              <%= __("admin.system.cancel"); %>
                          </button></a>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<%- contentFor("css") %>
<%- contentFor("script") %>
<script type="text/javascript" src="https://www.jq22.com/demo/raty-2.5.2/lib/jquery.raty.min.js" ></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#star').raty({ 
            score: '<%= result.rating%>',
            starOn : '<%= WEBSITE_ADMIN_IMG_URL%>star-on.png',
            starOff : '<%= WEBSITE_ADMIN_IMG_URL%>star-off.png',
            click: function(score,data){
                $('#rating').val(score)
            }
        });
        /**
         * Function to submit form
         */
        $(".btn-submit").click(function () {

            var btnId = $(this).attr("id");
            startTextLoading(btnId);
            ajax_submit("edit-testimonial", function (status, response) {
                if (status) {
                    window.location.href = response.redirect_url;
                } else {
                    stopTextLoading(btnId);
                }
            });
        });

      /**
       * User image Upload
       */
      $(document).on("click", ".changePhoto", function () {
          if (!$(".add-image #profile_image").hasClass("added")) {
              $(".add-image #profile_image").trigger("click");
              $(".add-image #profile_image").addClass("added");
              window.setTimeout(function () {
                  $(".add-image #profile_image").removeClass("added");
              }, 500);
          }
      });

      /**
       *Show user image after select
          */
      $("#profile_image").on("change", function () {
          var files = !!this.files ? this.files : [];
          if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

          if (/^image/.test(files[0].type)) {
              // only image file
              var reader = new FileReader(); // instance of the FileReader
              reader.readAsDataURL(files[0]); // read the local file
              reader.onloadend = function () {

                  $("#pImage").html("<img src='" + this.result + "' class='profileImage' >");
              }
          }
          $("span#profile_image_error").text("");
      });
  });
</script>