
<div class="container-fluid">
    <!--Search Start -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
                <div class="panel panel-col-pink">
                    <div class="panel-heading" role="tab" id="panel-heading-id">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
                               aria-controls="panel-collapse-id">
                                <i class="material-icons">search</i> <%= __('admin.system.search'); %>
                                <span class="pull-right collapse-toggle-icon"></span>
                            </a>
                            <span id="reset" class='tooltipShow tooltipHelp  brand-tooltip text-center' title="" data-html="true" data-toggle="tooltip"  data-original-title ="Reset Search">
								<i class="material-icons">refresh</i>
							</span>
                        </h4>
                    </div>
                    <div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
                        <form id="searchForm" name="searchForm" >
                            <div class="panel-body">
                                <div class="row clearfix dataTables_wrapper">
                                    <!-- Search by Email -->
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input class="form-control" id="column_filter_1" onkeyup="searchDatatable(1)" placeholder="<%= __('admin.user.search_by_email'); %>" name="email">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Search by Status -->
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <select class="form-control show-tick search_by_status" id="status_search" name="status">
                                                    <option value=""><%=__("admin.user.search_by_status");%></option>
                                                    <%
                                                    if(typeof USER_APPROVAL_SEARCH_DROPDOWN!== typeof undefined && USER_APPROVAL_SEARCH_DROPDOWN.length > 0){
                                                        USER_APPROVAL_SEARCH_DROPDOWN.map(searchStatus=>{
                                                            %>
                                                            <option value="<%=searchStatus.status_id%>"><%=searchStatus.status_name%></option>    
                                                        <%      
                                                        });
                                                    } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Search by Date Range -->
                                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input class="form-control" id="daterange" name="daterange" placeholder="<%= __('admin.user.search_by_registration_date'); %>" autocomplete="off">
                                            </div>
                                            <input class="form-control hide" id="from_date" type="text" name="from_date" value="">
                                            <input class="form-control hide" id="to_date" type="text" name="to_date" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Search End -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        <%= __('admin.account_request.account_request'); %>
                    </h2>
                </div>
                <div class="body">
                    <table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th><%= __('admin.system.name'); %></th>
                                <th><%= __('admin.system.email'); %></th>
                                 <th><%= __('admin.system.status'); %></th>
                                <th><%= __('admin.system.created'); %></th>
                                <th> <%= __('admin.system.action'); %>  </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<%- contentFor('css') %>
    <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
    <script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PLUGIN_PATH %>bootstrap-select/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PLUGIN_PATH %>daterangepicker/daterangepicker.js"></script>

    <script type="text/javascript">
        /**
        * Function to initialize datatable and get server side data
        */
        var dataTable = "";
        $(document).ready(function() {
            dataTable = $('#datatable-listing').DataTable({
                "bStateSave"    : true,
                "fnStateSave"   : function (oSettings, oData) {
                    localStorage.setItem( 'DataTables', JSON.stringify(oData) );
                },
                "fnStateLoad"   : function (oSettings) {
                    return JSON.parse( localStorage.getItem('DataTables'));
                },
                "order"     :   [[3, "desc" ]],
                "sDom"      : "ltipr",
                "lengthMenu": PAGING_LENGTH_MENU,
                "serverSide": true,
                "scrollX"   : true,
                "columns"   : [
                    {
                        "data": 'full_name'
                    },
                    {
                        "data"      : "email",
                        "orderable" : false,
                        "render"    : function(email){
                            return  (email) ?   '<a href="mailto:'+email+'">'+email+'</a>'  :email;
                        }
                    },
                    {
                        "data"          : {},
                        "orderable"     : false,
                        "searchable"    : false,
                        "render": function(result){
                            var approvalStatus  = (result && result.is_approved) ?    result.is_approved  : '<%= NOT_AVAILABLE%>';
                            /** Active Status **/
                            var statusTab   = ''

                            /** approval Status **/
                            if(approvalStatus == '<%=NOT_AVAILABLE%>'){
                                statusTab   +=  '<span class="label label-info m-l-5 m-t-5"><%=__("admin.user.status_pending")%></span>'
                            }else if(approvalStatus == '<%=AVAILABLE%>'){
                                statusTab   +=  '<span class="label label-success m-l-5 m-t-5"><%=__("admin.user.status_approved")%></span>'
                            }else{
                                statusTab   +=  '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.user.status_rejected")%></span>'
                            }
                            statusTab   +=  '<br/>';

                            return statusTab;
                        }
                    },
                    {
                        "data"          :   'created',
                        "searchable"    :   false,
                        "render"        :   function(created){
                            return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
                        }
                    },
                    {
                        "data"          : {},
                        "orderable"     : false,
                        "searchable"    : false,
                        "render"        : function(result){
                            var id           = (result._id)          ? result._id            : "";
                            var isApproved   = (result.is_approved)  ? result.is_approved   : "<%=NOT_AVAILABLE%>";

                            /** approve user details **/
                            var isApprovedHtml = (isApproved == "<%=NOT_AVAILABLE%>" || isApproved == "<%=REJECTED%>") ?
                                    '<li>'+
                                        '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/approval_status/<%= SEARCHING_APPROVED %>/'+id+'"  class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_approve_user"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
                                            '<i class="material-icons">done_all</i>'+
                                            '<%= __("admin.user.approve"); %>'+
                                        '</a>'+
                                    '</li>' : '';

                            /** reject user details **/
                             var isRejectedHtml = (isApproved == "<%=NOT_AVAILABLE%>") ?
                            '<li>'+
                                '<a href="javascript:void(0)" data-href="<%=admin_list_url%>/approval_status/<%= REJECTED %>/'+id+'"  class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_reject_user"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
                                    '<i class="material-icons">highlight_off</i>'+
                                    '<%= __("admin.system.reject"); %>'+
                                '</a>'+
                            '</li>' : '';
                                
                            var dropDownButton  =   ''+
                            '<div class="btn-group m-l-5 m-t-5">'+
                                '<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
                                    '<%= __("admin.system.action"); %>'+
                                    ' <span class="caret"></span>'+
                                '</button>'+
                                '<ul class="dropdown-menu min-width-190">'+
                                    /** View Link **/
                                    '<li>'+
                                        '<a href="<%=admin_list_url%>/view/'+id+'" class="waves-effect waves-block">'+
                                            '<i class="material-icons">find_in_page</i>'+
                                            '<%= __("admin.system.view"); %>'+
                                        '</a>'+
                                    '</li>'+isApprovedHtml+isRejectedHtml+
                                '</ul>'+
                            '</div>';
                            return dropDownButton;
                        }
                    },
                ],
                "ajax":{
                    url     :   "<%=admin_list_url%>",
                    type    :   "POST",
                    data    :   function (d) {
                        d.fromDate          = $('#from_date').val();
                        d.toDate            = $('#to_date').val();
                        d.status_search     = $('#status_search').val();
                    },
                    dataSrc : function(res){
                        return res.data;
                    }
                }
            });
        });

        /**
        * Javascript function to search data_table
        *
        * @param  columnNumber as data table column number
        *
        * @return void
        */
        function searchDatatable(columnNumber){
            var query= $('#column_filter_'+columnNumber).val();
            dataTable.column(columnNumber).search(query).draw()
        }//end searchDatatable()

        /**
            * Search by status
            * @param  null
            * @return void
        */
        $(".search_by_status").change(function(){
            dataTable.draw();
        });

        /** Config :: search by date range*/
        $('input[name="daterange"]').daterangepicker({ opens: 'left'},(start, end, label)=> {
            $("#from_date").val(start);
            $("#to_date").val(end);
            $('input[name="daterange"]').val(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
            dataTable.draw();
        });
    </script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>